
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #fff !important;
  text-decoration: none;
}

nav {
  background-color: #333;
  color: #fff;
  height: 80px;
  position: fixed;
  z-index: 99;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav h2 a {
  margin-left: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff !important;
  text-decoration: none;
  padding: 5px;
  background-color: #333;
}

nav ul li a i {
  color: #fff !important;
  text-decoration: none;
  padding: 5px;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content:hover {
  color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  padding: 16px 0;
  width: 100%;
  color: #ffffff;
  background-color: #000000;
}

center {
  margin-top: 1rem;
}

.whole-blog {
  line-height: 24px;
  word-spacing: 2px;
}